target/
Cargo.lock
.rustc_info.json
/odin_bin/main
/odin_lib/odin_lib.so
/odin_lib/odin_lib.dll
/odin_lib/odin_lib.dylib
/odin_lib/odin_lib.a
/rust_dynamiclib/librust_dynamiclib.so
/rust_dynamiclib/librust_dynamiclib.dll
/rust_staticlib/librust_staticlib.a
/rust_staticlib/librust_staticlib.lib

